.nav-underline .nav-link {
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: black;
}

.nav-underline .nav-link.active {
  color: #9b79f8;
}
i {
  color: #9b79f8;
}

#search {
  color: #9b79f8;
  border-color: #9b79f8;
}

#search:hover {
  background-color: #9b79f8;
  color: white;
}

#location {
  color: #9b79f8;
  border-color: #9b79f8;
}

#location:hover {
  background-color: #9b79f8;
}

#location:hover i {
  color: white;
}
.container-main {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 25vh;
}

.features {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 12px;
  height: 13vh;
  width: 100%;
  box-shadow: 0 2px 6px #ccc;
}


.weekfeatures {
  padding: 1rem;
  background-color: #f8f9fa;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weekfeatures h6 {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
}

.weekfeatures .deets svg {
  margin-right: 4px;
  vertical-align: middle;
}

.weekfeatures .deets .col {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}


.first {
  border: 2px solid #9b79f8;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}


.icon {
  height: 75px;
}
